{% extends "base.html" %}
{% block title %}Новости{% endblock %}
{% block content %}
<h4 class="mb-3">Новости</h4>
<form class="row g-2 align-items-end mb-3" id="news-form">
  <div class="col-sm-3 col-md-2">
    <label class="form-label">Часы</label>
    <input type="number" class="form-control" id="n_hours" value="24" min="1">
  </div>
  <div class="col-sm-12 col-md-auto">
    <button type="submit" class="btn btn-primary">Обновить</button>
  </div>
</form>
<div class="card">
  <div class="card-body">
    <div id="news_list" class="list-group"></div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/news_page.js"></script>
{% endblock %}